a:hover {
    color: rgb(16, 16, 94);
}
a{
    color: blue;
}
h1{
    font-size: 50px;
    text-align: center;
    text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
}
p {
    margin: 50px;
    color: blue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: thin;
}
img{
    margin-left:570px;
    width: 30%;
}
